 <%= form_with model: @user do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> stopped this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= label_tag(:username, "Username" ) %>  
 <%= form.text_field :username %>
 <br>
 <%= label_tag(:email, "Email" ) %>  
<%= form.email_field :email %>
<br>
<%= label_tag(:password, "Password" ) %>  
<%= form.password_field :password %>
<br>
    <%= form.submit "Create" %>
  <% end %>   
