


 <%= form_with model: @user do |form| %>

 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> stopped this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= label_tag(:username, "Username" ) %>  
 <%= form.text_field :username %>
 <br>
 <%= label_tag(:email, "Email" ) %>  
<%= form.email_field :email %>
<br>
<%= label_tag(:password, "Password" ) %>  
<%= form.password_field :password %>
<br>
    <%= form.submit "Create" %>
  <% end %>   

<!--
<%= form_tag('/users') do -%>
<div>
  <%= label_tag(:username, "User Name") %>
  <%= text_field_tag(:username) %>
</div>
  <br>
  <div>
<%= label_tag(:email, "Email") %>
<%= email_field(:user, :email) %></div>
<br>
<div>
 <%= label_tag(:password, "Password") %>
<%= password_field_tag( :password) %>
</div>
  <div><%= submit_tag 'Save' , name: nil %></div>
<% end -%>
   
-->
   
<!--
<form accept-charset="UTF-8" action='/users' method='POST' >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              
    <div class="label-input">
        <label for="username">username</label>
        <input type="text" name="user[username]">
    </div>
       
    <div class="label-input">
        <label for="email">email</label>
        <input type="email" name="user[email]">
    </div>
              
    <div class="label-input">
        <label for="password">pasword</label>
        <input type="password" name="user[password]">
    </div>
       
    <input type="submit" value = "Submit">
</form>  
-->